<footer>
  <div class="footer section-b-space section-t-space">
    <div class="container">
      <div class="row order-row">
        <div class="col-xl-2 col-md-6 order-cls">
          <div class="footer-title mobile-title">
            <h5>contact us</h5>
          </div>
          <div class="footer-content">
            <div class="contact-detail">
              <div class="footer-logo">
                <img src="../../assets/img/icon/logo.png" alt="logo" class="img-fluid blur-up lazyload">
              </div>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries
              </p>
              <ul class="contact-list">
                <li>
                  <i class=" pi pi-map-marker"></i>
                   A-32, Albany, Newyork.
                </li>
                <li>
                  <i class=" pi pi-phone"></i>
                  518 - 457 - 5181
                </li>
                <li>
                  <i class=" pi pi-envelope"></i>
                  contact&#64;gmail.com
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-3">
          <div class="footer-space">
            <div class="footer-title">
              <h5>about</h5>
            </div>
            <div class="footer-content">
              <div class="footer-links">
                <ul>
                  <li>
                    <a href="">
                      about us
                    </a>
                  </li>
                  <li>
                    <a href="">
                      FAQ
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Login
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Register
                    </a>
                  </li>
                  <li>
                    <a href="">
                      terms & co.
                    </a>
                  </li>
                  <li>
                    <a href="">
                      privacy
                    </a>
                  </li>
                  <li>
                    <a href="">
                      support
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="footer-title">
            <h5>top places</h5>
          </div>
          <div class="footer-content">
            <div class="footer-place">
              <div class="row">
                <div class="col-4">
                  <div class="place rounded5">
                    <a href="">
                      <img src="../../assets/img/footer-TopPlace/1.jpg" alt="" class="img-fluid blur-up lazyload">
                      <div class="overlay">
                        <h6>japan</h6>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-4">
                  <div class="place rounded5">
                    <a href="">
                      <img src="../../assets/img/footer-TopPlace/2.jpg" alt="" class="img-fluid blur-up lazyload">
                      <div class="overlay">
                        <h6>beach</h6>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-4">
                  <div class="place rounded5">
                    <a href="">
                      <img src="../../assets/img/footer-TopPlace/3.jpg" alt="" class="img-fluid blur-up lazyload">
                      <div class="overlay">
                        <h6>newyork</h6>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-4">
                  <div class="place rounded5">
                    <a href="">
                      <img src="../../assets/img/footer-TopPlace/4.jpg" alt="" class="img-fluid blur-up lazyload">
                      <div class="overlay">
                        <h6>city</h6>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-4">
                  <div class="place rounded5">
                    <a href="">
                      <img src="../../assets/img/footer-TopPlace/5.jpg" alt="" class="img-fluid blur-up lazyload">
                      <div class="overlay">
                        <h6>mountain</h6>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-4">
                  <div class="place rounded5">
                    <a href="">
                      <img src="../../assets/img/footer-TopPlace/6.jpg" alt="" class="img-fluid blur-up lazyload">
                      <div class="overlay">
                        <h6>wild</h6>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-3 order-cls">
          <div class="footer-space">
            <div class="footer-title">
              <h5>useful links</h5>
            </div>
            <div class="footer-content">
              <div class="footer-links">
                <ul>
                  <li><a href="">home</a></li>
                  <li><a href="">our vehicle</a></li>
                  <li><a href="">latest video</a></li>
                  <li><a href="">services</a></li>
                  <li><a href="">booking deal</a></li>
                  <li><a href="">emergency call</a></li>
                  <li><a href="">mobile app</a></li>
                  <!---->
               </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="footer-title">
            <h5>new topics</h5>
          </div>
          <div class="footer-content">
            <div class="footer-blog">
              <div class="media">
                <div class="img-part">
                  <a href="">
                    <img src="../../assets/img/footer-newTopics/1.jpg" alt="" class="img-fluid blur-up lazyload">
                  </a>
                </div>
                <div class="media-body">
                  <h5 tabindex="0">recent news</h5>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries
                  </p>
                </div>
              </div>
              <div class="media">
                <div class="img-part">
                  <a href="">
                    <img src="../../assets/img/footer-newTopics/2.jpg" alt="" class="img-fluid blur-up lazyload">
                  </a>
                </div>
                <div class="media-body">
                  <h5 tabindex="0">recent news</h5>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>