<section class="col-md-12">
    <app-slide></app-slide>
</section>
<section class="col-md-12">
    <app-category></app-category>
</section>
<section class="col-md-12">
    <app-hotel></app-hotel>
</section>
<section class="col-md-12 video_section parallax-img">
    <app-discount></app-discount>
</section>
<section class="blog_section destination-section section-b-space ratio_55">
    <app-FlightHome></app-FlightHome>
</section>
<section class="full-banner bg-size">
    <app-Banner></app-Banner>
</section>