
.parallax-img {
    background-attachment: fixed;
}

.video_section {
    padding: 138px 0;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    background-image: url(../../assets/img/discount-home/video-bg.jpg);
}

.section-b-space {
    padding-bottom: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

.blog_section {
    overflow: hidden;
}

.blog_section.section-b-space {
    padding-bottom: 70px;
}

/* Banner */
.bg-size {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    padding: 120px 0;
    position: relative;
    overflow: hidden;
    background-image: url(../../assets/img/banner-home/background.jpg);
}

/* hotel video */

.parallax-img {
    background-attachment: fixed;
}

.video-section {
    padding: 170px 0;
}

.hotel-video-homepage {
    background-color: #00000059;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    background-image: url(../../assets/img/hotel_video_home/back.jpg);
}

@media (max-width: 480px) {
    .full-banner {
        padding: 40px 0;
    }
    .video-section {
        margin: 20px 0;
    }
}
@media (max-width: 576px) {
    .full-banner {
        padding: 50px 0;
    }
}
@media (max-width: 767px) {
    .full-banner {
        padding: 60px 0;
    }
}
@media (max-width: 991px) {
    .full-banner {
        padding: 70px 0;
    }
}
@media (max-width: 1199px) {
    .full-banner {
        padding: 100px 0;
    }
}