<div class="image-section">
  <div class="img-box">
    <img src="../../../../assets/img/hotel-home/3.jpg" alt="img" class="img-fluid blur-up lazyload animated-img" appHoverRotateImg>
    <div class="number">
      <h3>01</h3>
    </div>
  </div>
  <div class="img-box">
    <img src="../../../../assets/img/hotel-home/4.jpg" alt="img" class="img-fluid blur-up lazyload animated-img" appHoverRotateImg>
    <div class="number">
      <h3>02</h3>
    </div>
  </div>
  <div class="img-box">
    <img src="../../../../assets/img/hotel-home/5.jpg" alt="img" class="img-fluid blur-up lazyload animated-img" appHoverRotateImg>
    <div class="number">
      <h3>03</h3>
    </div>
  </div>
</div>