<div class="search-section shadow">
  <div class="search-box">
    <div class="left-part">
      <div class="p-toolbar-group-start search-body title-hotel">
        <h6>RESTAURANT</h6>
        <input type="text" name="text" placeholder="Restaurant" class="form-control">
      </div>
      <div class="p-toolbar-group-start search-body title-hotel">
        <h6>YOUR LOCATION</h6>
        <input type="text" name="text" placeholder="Enter Your Location" class="form-control">
      </div>
      <div class="p-toolbar-group-start search-body title-hotel">
        <h6>SEARCH FOOD..</h6>
        <input type="text" name="text" placeholder="What Are You Craving" class="form-control">
      </div>
      <div class="p-toolbar-group-end search-body btn-search">
        <div class="right-part">
          <a href="/" class="btn btn-solid color1">SEARCH</a>
        </div>
      </div>
    </div>
  </div>
</div>