<div class="container home-category">
  <div class="row">
    <div class="col-12">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="ng-star-inserted">
            <div class="top_box">
              <div class="img-part">
                <a href="javascript:void(0)">
                  <img src="../../../../assets/img/category-home/1.jpg" alt="" class="img-fluid blur-up lazyload">
                </a>
              </div>
              <div class="right-content">
                <div>
                  <h5>
                    Serenity Springs
                    <i class="pi pi-heart-fill" style="color: red;"></i>
                  </h5>
                  <div class="rating">
                    <span>4</span>
                    <p-rating [(ngModel)]="rate" [readonly]="true" [cancel]="false" style="color: yellow;" />
                  </div>
                  <p>
                    Nestled by peaceful azure lakes
                  </p>
                  <h6>
                    <del>$240.00</del>
                    $200.00
                  </h6>
                </div>
              </div>
              <div class="new-label ng-star-inserted">
                <span>new</span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="ng-star-inserted">
            <div class="top_box">
              <div class="img-part">
                <a href="javascript:void(0)">
                  <img src="../../../../assets/img/category-home/1.jpg" alt="" class="img-fluid blur-up lazyload">
                </a>
              </div>
              <div class="right-content">
                <div>
                  <h5>
                    Serenity Springs
                    <i class="pi pi-heart-fill" style="color: red;"></i>
                  </h5>
                  <div class="rating">
                    <span>4</span>
                    <p-rating [(ngModel)]="rate" [readonly]="true" [cancel]="false" style="color: yellow;" />
                  </div>
                  <p>
                    Nestled by peaceful azure lakes
                  </p>
                  <h6>
                    <del>$240.00</del>
                    $200.00
                  </h6>
                </div>
              </div>
              <div class="new-label ng-star-inserted">
                <span>new</span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="ng-star-inserted">
            <div class="top_box">
              <div class="img-part">
                <a href="javascript:void(0)">
                  <img src="../../../../assets/img/category-home/1.jpg" alt="" class="img-fluid blur-up lazyload">
                </a>
              </div>
              <div class="right-content">
                <div>
                  <h5>
                    Serenity Springs
                    <i class="pi pi-heart-fill" style="color: red;"></i>
                  </h5>
                  <div class="rating">
                    <span>4</span>
                    <p-rating [(ngModel)]="rate" [readonly]="true" [cancel]="false" style="color: yellow;" />
                  </div>
                  <p>
                    Nestled by peaceful azure lakes
                  </p>
                  <h6>
                    <del>$240.00</del>
                    $200.00
                  </h6>
                </div>
              </div>
              <div class="new-label ng-star-inserted">
                <span>new</span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="ng-star-inserted">
            <div class="top_box">
              <div class="img-part">
                <a href="javascript:void(0)">
                  <img src="../../../../assets/img/category-home/1.jpg" alt="" class="img-fluid blur-up lazyload">
                </a>
              </div>
              <div class="right-content">
                <div>
                  <h5>
                    Serenity Springs
                    <i class="pi pi-heart-fill" style="color: red;"></i>
                  </h5>
                  <div class="rating">
                    <span>4</span>
                    <p-rating [(ngModel)]="rate" [readonly]="true" [cancel]="false" style="color: yellow;" />
                  </div>
                  <p>
                    Nestled by peaceful azure lakes
                  </p>
                  <h6>
                    <del>$240.00</del>
                    $200.00
                  </h6>
                </div>
              </div>
              <div class="new-label ng-star-inserted">
                <span>new</span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="ng-star-inserted">
            <div class="top_box">
              <div class="img-part">
                <a href="javascript:void(0)">
                  <img src="../../../../assets/img/category-home/1.jpg" alt="" class="img-fluid blur-up lazyload">
                </a>
              </div>
              <div class="right-content">
                <div>
                  <h5>
                    Serenity Springs
                    <i class="pi pi-heart-fill" style="color: red;"></i>
                  </h5>
                  <div class="rating">
                    <span>4</span>
                    <p-rating [(ngModel)]="rate" [readonly]="true" [cancel]="false" style="color: yellow;" />
                  </div>
                  <p>
                    Nestled by peaceful azure lakes
                  </p>
                  <h6>
                    <del>$240.00</del>
                    $200.00
                  </h6>
                </div>
              </div>
              <div class="new-label ng-star-inserted">
                <span>new</span>
              </div>
            </div>
          </div>
        </ng-template> 
      </owl-carousel-o>
    </div>
  </div>
</div>