<div class="owl-item ng-trigger ng-trigger-autoHeight ng-star-inserted">
  <div class="ng-star-inserted">
    <div class="blog-wrap">
      <div class="blog-image">
        <div class="bg-size" style="background-image: url({{src}});" >
          <!-- <img [src]="src" alt="flight-1" class="img-fluid"> -->
        </div>
      </div>
      <div class="destination-details">
        <div>
          <h5>{{title}}</h5>
          <h2>{{name}}</h2>
          <h6>
            {{description}}
          </h6>
          <a href="" class="btn btn-rounded color2" >{{price}}</a>
        </div>
      </div>
    </div>
  </div>
</div>