<div class="container home-hotel">
  <app-hotel-title></app-hotel-title>
  <div class="row">
    <div class="col-xl-8">
      <app-animated-images></app-animated-images>
    </div>
    <div class="col-xl-4">
      <div class="about-text">
        <div>
          <h5>
            special couple 
            <span>dinner</span> 
            offer...
          </h5>
          <h2>
            redefines the luxury 
            <span>hospitality experiance</span>
          </h2>
          <p>Lorem Ipsum is the simply dummy text of the printing is of and type the setting the industry. Lorem ..... </p>
          <img src="../../../assets/img/hotel-home/signature.png" alt="sign" class="img-fluid blur-up lazyload">
        </div>
      </div>
  </div>
</div>