<div class="hotel_title_section">
  <div class="hotel-name">
    <div class="left-part">
      <div class="top">
        <h2>{{title}}</h2>
        <div class="rating">
          <ngb-rating [rate]="rating"></ngb-rating>
        </div>
        <div class="share-buttons">
          <a href="javascript:void(0)" class="btn btn-solid">
            <i class="fa-regular fa-share-from-square"></i>
            share
          </a>
          <a href="javascript:void(0)" class="btn btn-solid">
            <i class="fa-regular fa-heart"></i>
            save
          </a>
        </div>
      </div>
      <p>Mina Road, Bur Dubai, Dubai, United Arab Emirates</p>
      <div class="facility-detail">
        <span>free wifi</span>
        <span>free breakfast</span>
      </div>
    </div>
    <div class="right-part">
      <h2 class="price">
        ${{price | number : '1.2-2'}}
        <span>/ per night</span>
      </h2>
      <a href="" class="btn btn-rounded btn-sm color1">book this now</a>
    </div>
  </div>
</div>