.hotel_title_section {
    position: relative;
    width: 100%;
}

.hotel_title_section .hotel-name {
    padding: 0 0 40px;
    display: flex;
}

.hotel_title_section .hotel-name .left-part .top {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.hotel_title_section .hotel-name .left-part .top h2, .hotel_title_section .hotel-name .left-part .top .h2 {
    margin-bottom: 0;
    font-size: calc(18px + .01125*(100vw - 320px));
    text-transform: capitalize;
}

.rating {
    display: flex;
    align-items: center;
}

.hotel_title_section .hotel-name .left-part .top .rating {
    margin-left: 15px;
}

.btn {
    line-height: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.hotel_title_section .hotel-name .left-part .top .share-buttons .btn {
    padding: 4px 10px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-left: calc(5px + 5*(100vw - 320px) / 1600);
    color: #000;
    background-color: #fff;
    box-shadow: none;
}

.btn.btn-solid:hover {
    transition: .3s ease-in-out;
    background-color: #fff;
    color: rgba(239, 63, 62, 1);
    border: 1px solid rgba(239, 63, 62, 1);
    box-shadow: 1px 11px 20px 0 rgba(239, 63, 62, .22);
}

.hotel_title_section .hotel-name .left-part p {
    color: #0009;
    margin-bottom: 0;
    font-weight: 700;
}

.hotel_title_section .hotel-name .left-part .facility-detail {
    margin-top: 15px;
    margin-bottom: -6px;
}

.hotel_title_section .hotel-name .left-part .facility-detail span {
    color: #000000b3;
    font-weight: 600;
    font-size: 12px;
    text-transform: capitalize;
    padding: 2px 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.hotel_title_section .hotel-name .right-part {
    margin-left: auto;
    text-align: right;
}

.hotel_title_section .hotel-name .right-part .price {
    font-size: calc(16px + .0125*(100vw - 320px));
}

.hotel_title_section .hotel-name .right-part .price span {
    font-size: 16px;
    font-weight: 700;
}

.btn.btn-sm, .btn-group-sm>.btn {
    padding: 8px 24px !important;
    text-transform: capitalize;
}

.btn.btn-rounded {
    border-radius: 100px;
    color: #fff;
    padding: 10px 20px;
}

.btn.btn-rounded.color1 {
    background-color: rgba(239, 63, 62, 1);
    box-shadow: 1px 11px 20px 0 rgba(239, 63, 62, .12);
}

.btn.btn-rounded.color1:hover {
    background-color: #fff;
    color: rgba(239, 63, 62, 1);
    transition: all .5s ease;
    border: 1px solid rgba(239, 63, 62, 1);
    box-shadow: 1px 11px 20px 0 rgba(239, 63, 62, .22);
}

@media (max-width: 767px) {
    .hotel_title_section .hotel-name {
        padding: 0 0 30px;
    }
}

@media (max-width: 576px) {
    .hotel_title_section .hotel-name {
        display: block;
        padding: 0 0 20px;
    }

    .hotel_title_section .hotel-name .left-part .top, .hotel_title_section .hotel-name .left-part p {
        margin-bottom: 5px;
    }

    .hotel_title_section .hotel-name .left-part .facility-detail {
        display: none;
    }

    .hotel_title_section .hotel-name .right-part {
        text-align: left;
        margin-top: 0;
    }

    .hotel_title_section .hotel-name .right-part .price {
        margin-bottom: -5px;
    }

    .hotel_title_section .hotel-name .right-part .price span {
        font-weight: 500;
    }

    .hotel_title_section .hotel-name .right-part .btn {
        display: none;
    }
}

@media (max-width: 991px) {
    h2, .h2 {
        line-height: 26px;
    }
    .hotel_title_section .hotel-name .left-part .top .share-buttons .btn {
        font-size: 0;
        padding: 6px 10px;
        line-height: 1;
    }

    .hotel_title_section .hotel-name .left-part .top .share-buttons .btn i {
        font-size: 12px;
    }
}

@media (max-width: 420px) {
    .hotel_title_section .hotel-name .left-part .top .rating {
        display: none;
    }
}