<section class="breadcrumb-section pt-0 bg-size">
  <img src="" alt="" class="bg-img img-fluid blur-up lazyload">
  <div class="breadcrumb-content">
    <div>
      <h2>register</h2>
      <nav class="theme-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            register
          </li>
        </ol>
      </nav>
    </div>
    <div class="title-breadcrumb">Rica</div>
  </div>
</section>
<section class="section-b-space dark-cls animated-section bg-size">
  <img src="" alt="" class="img-fluid blur-up lazyload bg-img">
  <app-register-animation></app-register-animation>
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6 offset-sm-2 col-sm-8 col-12">
        <div class="account-sign-in">
          <div class="title">
            <h3>Register</h3>
          </div>
          <div class="login-with">
            <h6>register with</h6>
            <div class="login-social row">
              <div class="col">
                <div class="boxes">
                  <img src="../../../assets/img/social/facebook.png" alt="" class="img-fluid blur-up lazyload">
                  <h6>facebook</h6>
                </div>
              </div>
              <div class="col">
                <div class="boxes">
                  <img src="../../../assets/img/social/google.png" alt="" class="img-fluid blur-up lazyload">
                  <h6>google</h6>
                </div>
              </div>
            </div>
            <div class="divider">
              <h6>OR</h6>
            </div>
          </div>
          <form action="">
            <div class="form-group">
              <label for="UserName">user name</label>
              <input type="email" id="UserName" [(ngModel)]="UserName" name="UserName" aria-describedby="emailHelp" placeholder="Enter email" class="form-control">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="FullName">FullName</label>
              <input type="text" id="FullName" [(ngModel)]="FullName" name="FullName" placeholder="FullName" class="form-control">
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" id="Password" [(ngModel)]="Password" name="Password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
              <label for="ConfirmPassword">Confirm Password</label>
              <input type="password" id="ConfirmPassword" [(ngModel)]="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" class="form-control">
            </div>
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="text" id="Email" [(ngModel)]="Email" name="Email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <label for="PhoneNumber">Phone Number</label>
              <input type="text" id="PhoneNumber" [(ngModel)]="PhoneNumber" name="PhoneNumber" placeholder="Phone Number" class="form-control">
            </div>
            <div class="form-group">
              <label for="Address">Address</label>
              <input type="text" id="Address" [(ngModel)]="Address" name="Address" placeholder="Address" class="form-control">
            </div>
            <div class="button-bottom">
              <p-toast></p-toast>
              <button (click)="register()" type="submit" class="w-100 btn btn-solid">register</button>
              <div class="divider">
                 <h6 _ngcontent-ng-c3052143649="">or</h6>
              </div>
              <button type="submit" class="w-100 btn btn-solid btn-outline" (click)="gotoLogin()">Login</button>
           </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<p-dialog header="Confirm OTP" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
  <div class="flex flex-column align-items-center">
    <div class="font-bold text-xl mb-2">Authenticate Your Account</div>
    <p class="text-color-secondary block mb-3">Please enter the code sent to your e-mail.</p>
    <p-inputOtp [(ngModel)]="value" [length]="6" style="gap: 0">
        <ng-template pTemplate="input" let-token let-events="events" let-index="index">
            <input 
                pInputText
                type="text" 
                [maxLength]="1" 
                (input)="events.input($event)" 
                (keydown)="events.keydown($event)" 
                [attr.value]="token" 
                class="custom-otp-input col-1 m-2" />
            <div *ngIf="index === 3" class="px-3">
                <i class="pi pi-minus"></i>
            </div>
        </ng-template>
    </p-inputOtp>
    <p class="text-color-secondary block mb-3">Send OTP again({{countdown}}s)</p>
    <div class="flex justify-content-between mt-3 align-self-stretch">
        <p-button label="Resend Code" [link]="true" [disabled]="countdown > 0" (onClick)="resendCode()" class="p-0"/>
        <p-button (onClick)="submitOTP()" label="Submit Code"/>
    </div>
  </div>
</p-dialog>
  
</section>