.flight-home .owl-carousel .owl-stage-outer 
.ng-star-inserted div .owl-stage  {
    width: 4887px !important;
}

.food-home .owl-carousel .owl-stage-outer 
.ng-star-inserted div .owl-stage  {
    width: 4887px !important;
}

.gallary-home .owl-carousel .owl-stage-outer 
.ng-star-inserted div .owl-stage  {
    width: 4887px !important;
}

.category-box .rating span.ng-star-inserted {
    font-size: 18px;
    margin: 0 2px;
    color: #fc3;
}

@media (min-width: 360px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 317.667px !important;
        margin-right: 10px;
    }

    .food-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 317.667px !important;
        margin-right: 10px;
    }

    .gallary-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 330.333px !important;
    }
}


@media (min-width: 430px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 389.667px  !important;
        margin-right: 60px;
    }

    .food-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 389.667px  !important;
        margin-right: 50px;
    }
}



@media (min-width: 390px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 350.667px !important;
        margin-right:10px;
    }

    .food-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 350px !important;
        margin-right:76px;
        // margin-right:21px;
    }

    .gallary-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 389.667px !important;
    }
}

@media (min-width: 800px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 318px !important;
        margin-right: 60px;
    }

    .food-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 318px !important;
        margin-right: 50px;
    }
}

@media (min-width: 820px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 318px !important;
        margin-right: 60px;
    }

    .food-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 318px !important;
        margin-right: 50px;
    }
}

@media (min-width: 1024px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 438px !important;
        margin-right: 60px;
    }

    .food-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 438px !important;
        margin-right: 50px;
    }
}

@media (min-width: 1050px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 389.667px !important;
        margin-right: 60px;
    }

    .food-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 435.333px !important;
        margin-right: 50px;
    }
}

@media(max-width: 1024px) and (min-width: 1050px) {
    .flight-home .owl-carousel .owl-stage-outer .ng-star-inserted div .owl-stage .owl-item {
        width: 389.667px !important;
        margin-right: 60px;
    }

    .food-home .owl-carousel .owl-stage-outer .ng-star-inserted div .owl-stage .owl-item {
        width: 389.667px !important;
        margin-right: 50px;
    }
}