.flight-home .owl-carousel .owl-stage-outer 
.ng-star-inserted div .owl-stage  {
    width: 4887px !important;
}


@media (min-width: 360px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 317.667px !important;
        margin-right: 10px;
    }
}


@media (min-width: 430px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 389.667px  !important;
        margin-right: 60px;
    }
}

@media (min-width: 390px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 350.667px !important;
        margin-right:10px;
    }
}

@media (min-width: 800px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 318px !important;
        margin-right: 60px;
    }
}

@media (min-width: 820px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 318px !important;
        margin-right: 60px;
    }
}

@media (min-width: 1024px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 438px !important;
        margin-right: 60px;
    }
}

@media (min-width: 1050px) {
    .flight-home .owl-carousel .owl-stage-outer 
    .ng-star-inserted div .owl-stage .owl-item {
        width: 389.667px !important;
        margin-right: 60px;
    }
}

@media(max-width: 1024px) and (min-width: 1050px) {
    .flight-home .owl-carousel .owl-stage-outer .ng-star-inserted div .owl-stage .owl-item {
        width: 389.667px !important;
        margin-right: 60px;
    }
}


// @media (min-width: 576px) {
//     .ng-star-inserted .owl-item {
//         width: 360px;
//         margin-right: 47px;
//     }
// }

// @media (min-width: 768px) {
//     .ng-star-inserted .owl-item {
//         width: 360px;
//         margin-right: 47px;
//     }
// }

// @media (min-width: 992px) {
//     .ng-star-inserted .owl-item {
//         width: 360px;
//         margin-right: 47px;
//     }
// }

// @media (min-width: 1200px) {
//     .ng-star-inserted .owl-item {
//         width: 360px;
//         margin-right: 47px;
//     }
// }

// @media (min-width: 1400px) {
//     .ng-star-inserted .owl-item {
//         width: 360px;
//         margin-right: 47px;
//     }
// }

// @media (min-width: 1461px) {
//     .ng-star-inserted .owl-item {
//         width: 360px;
//         margin-right: 47px;
//     }
// }