<div class="emergency">
  <app-animation-emergency></app-animation-emergency>
  <div class="container">
    <app-emergency-title></app-emergency-title>
    <div class="row">
      <div class="col-xl-7">
        <app-animated-images-emergency></app-animated-images-emergency>
      </div>
      <div class="col-xl-5">
        <div class="about-text">
          <div>
            <h5>
              <span>new</span> 
              offer...
            </h5>
            <h3>call us to Book a taxi</h3>
            <h2>(964) 444-9000</h2>
            <p>The operator will call back immediately and report the cost of travel.. </p>
            <a class="btn btn-curve btn-lower">discover</a>
          </div>
        </div>
    </div>
  </div>
</div>