<div class="book-table single-table bg-inner">
    <div class="table-form classic-form">
      <form novalidate="" class="ng-untouched ng-pristine ng-valid">
          <div class="row w-100">
            <div class="form-group col p-0">
              <input type="text" id="exampleFormControlInput1" placeholder="Starting from" class="form-control">
              <img src="../../../assets/img/search-tour-location/location_icon.png" alt="no.icon" class="img-fluid blur-up lazyload">
            </div>
            <div class="form-group col p-0">
              <input type="text" placeholder="Going to" class="form-control">
              <img src="../../../assets/img/search-tour-location/location_icon.png" alt="no.icon" class="img-fluid blur-up lazyload">
            </div>
            <div class="form-group col p-0">
                <input type="date" placeholder="During Date" name="dp" ngbdatepicker="" class="form-control" style="text-transform: none">
            </div>
          </div>
          <a href="" class="btn btn-rounded color1">search</a>
      </form>
    </div>
</div>