.home_section {
    position: relative;
    overflow: hidden;
}

.home_section .home {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.home_section .home video {
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.row div {
    position: relative; 
}

.home_section .home .home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 87px;
    width: 100%;
    text-align: center;
}

.home_section .home .home-content.mix-layout>div.bg-transparent {
    padding: 0;
}

h1, .h1 {
    font-size: calc(26px + .015*(100vw - 320px));
    font-weight: 700;
    letter-spacing: .03em;
    line-height: 1.1;
    text-transform: uppercase;
}

.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
}

.home_section .home .home-content h1, .home_section .home .home-content .h1 {
    font-family: Dancing Script, cursive;
    /* font-size: calc(26px + .08375*(100vw - 320px)); */
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: -16px;
}

.bg-transparent h1 {
    font-size: calc(18px + .02625*(100vw - 320px));
    font-family: Nunito, Nunito;
    margin-bottom: calc(5px + 25*(100vw - 320px) / 1600);
    position: relative;
}

h3, .h3 {
    font-size: calc(20px + .0025*(100vw - 320px));
    font-weight: 400;
    letter-spacing: .03em;
    line-height: 1.2;
    color: #000;
}

.home_section .home .home-content.mix-layout h3, .home_section .home .home-content.mix-layout .h3 {
    font-size: calc(14px + .005*(100vw - 320px));
    color: #fff;
    font-weight: 700;
    margin-bottom: calc(5px + 45*(100vw - 320px) / 1600);
    text-transform: capitalize;
}

li {
    display: inline-block;
    font-size: 14px;
    letter-spacing: .03em;
}

a {
    transition: .5s ease;
    letter-spacing: .03em;
    text-decoration: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background: none;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-pills .nav-link {
    border-radius: .375rem;
}

.mix-pills.nav-pills .nav-link {
    color: #fff;
    text-transform: capitalize;
    font-size: calc(12px + 5 * (100vw - 320px) / 1600);
    font-weight: 600;
}

.mix-pills.nav-pills .nav-link.active, .mix-pills.nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgba(239, 63, 62, 1);
}

.bg-transparent ul {
    text-align: start;
}

.nav-item {
    cursor: pointer;
}

.active {
    background-color: rgba(239, 63, 62, 1);
    border-radius: .375rem;
}

@media (max-width: 576px) {

    .mix-pills.nav-pills .nav-link {
        padding: 8px;
    }
}

@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 540px;
    }

    .mix-pills.nav-pills .nav-link {
        padding: 8px;
    }
}



@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
    .home_section .home .home-content {
        height: 80vh;
        padding-top: 160px;
    }
}

@media (max-width: 1199px) {
    .home_section .home {
        height: 90vh;
    }

    .home_section .home .home-content {
        height: 100vh;
        padding-top: 87px;
    }
}


@media (min-width: 1200px) {
    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    h1, .h1 {
        font-size: 2.5rem;
    }

    h3, .h3 {
        font-size: 1.75rem;
    }
}

@media (max-width: 1460px) {
    .mix-layout-section .col-xl-10 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media (min-width: 1461px) {
    .container {
        max-width: 1430px;
    }

    .home_section .home .home-content h1, .home_section .home .home-content .h1 {
        margin-top: -10px;
    }
}